[user]
	name = Raúl Fernández Fernández
	email = r.fernandez@flexiw.com

[fetch]
	prune = true

[push]
	default = simple

[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes

[pull]
	rebase = true
